Flask
Flask-Cors
Flask-SocketIO
flask-jwt-extended
gunicorn
eventlet
requests
python-dotenv
pyotp
smartapi-python
websocket-client
logzero
pycryptodome
simplejson
python-engineio
python-socketio
gevent
gevent-websocket
pymongo[srv]
redis
pandas
numpy
loguru
psutil
PyYAML
python-dateutil
pytz
validators
email-validator
celery
marshmallow
sortedcontainers
python-json-logger
urllib3
